:root{
    --font-light: 300;
    --font-semi: 600;
    --font-blod: 700;
    --font-color: #00002c;
    --btn-color: #1449bb;

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family:'Open Sans', sans-serif;
}
.navegation-container{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
.header-logo{
    width: 9.5rem;
    height: 3rem;
}
.list-navegation{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.list-navegation li{
    list-style: none;
    padding-left: 1rem;
    font-size: 1.4rem;
    
}

.list-navegation li a{
    text-decoration: none;
    color: #161616;
    font-weight: 600;
}
/* Desde acá empiza el main */

.first-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.first-section-img{
    width: 30rem;
    height: 23rem;
}

.first-section-img img{
    width: 100%;
    padding: 0;
}

.first-section-description h1{
    font-size: 2.5rem;
    color: var(--font-color);
    font-weight: var(--font-blod);
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.section-description-text{
    display: flex;
    width: 100%;
    justify-content: center;
}
.section-description-text p{
    font-size: 1.3rem;
    color: #0c0c55;
    font-weight: var(--font-semi);
    margin-bottom: 2rem;  
    width: 30rem;  
}

.newsletter-form input{
    width: 30rem;
    height: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0.5rem;
    border: 0.1rem solid grey;
    outline-color: #9494a7;
    margin-bottom: 1rem;
}

.newsletter-form button{
    width: 30rem;
    height: 4rem;
    font-weight: var(--font-blod);
    font-size: 1.5rem;
    color: white;
    background-color: var(--btn-color);
    border:none;
    border-radius: 0.5rem;
}

.second-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 5rem;
    padding-top: 4rem;
    background-image: url("./img/bg-curve-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

.second-section-img{
    width: 100%;
    padding-bottom: 3rem;
    background-color: #f8f8fe;
}

.second-section-img img{
    width: 30rem;
}

.second-section-description{
    width: 100%;
    background-color: #f8f8fe;
}
.second-section-description h2{
    font-size: 2.5rem;
    font-weight: var(--font-blod);
    color: var(--font-color);
}
.second-section-description p{
    margin: 0 auto;
    margin-top: 2rem;
    font-size: 1.3rem;
    color: #0c0c55;
    font-weight: var(--font-semi);
    width: 30rem;  
    align-self: center;
}
.see-more-text{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding-bottom: 3rem;
}

.see-more-text p{
    margin: 0 0 0 0 ;
    width: fit-content;
    color: rgb(78, 146, 33);
    padding-right: 1rem;
    text-decoration: underline;
    
}

.see-more-text img{
    width: 2rem;   
}


.comment-ceo{
    width: 35rem;
    border-radius: 2rem;
    box-shadow: 0rem 0rem 3rem rgb(231, 231, 253);
    margin: 0 auto;
}

.comment-ceo-description .comillas{
    height: 4rem;
    padding-left: 0rem;
    font-size: 7rem;
    text-align:left;
}
.comment-ceo-description p{
    text-align: start;
}

.info-ceo{
    display: grid;
    grid-template-columns: 5rem 1fr;
    grid-template-rows: 2.5rem 2.5rem;
    align-items: center;
    justify-items: start;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 10rem;
}

.info-ceo img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    grid-row: 1 / 3;
}

.info-ceo h2{
    grid-column: 2 / 3;
    margin-left: 2rem;
}

.info-ceo p{
    margin: 0 0 0 0;
    width: fit-content;
    margin-top: 0;
    padding-left: 2rem;
}

/* Here comes the third section */
.third-section{
    display: flex;
    flex-wrap: wrap;
    background-color: #575989;
    color: white;
    justify-content: center;
    text-align: center;
    padding: 3rem ;
}
.third-section-description{

}

.third-section-description h2{
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.third-section-description p{
    font-size: 1.3rem;
    width: 30rem;
    padding-bottom: 2rem;
}

.third-section-form{
    display: block;
    padding-bottom: 5rem;
}
.second-form{
    width: 60rem;
}

footer{
    background-color: var(--font-color);
    color: white;
    font-size: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-auto-rows: auto;
    justify-items: center;
    padding:3rem;
    
}
.footer-container p{
    padding-bottom: 2rem;
}

.footer-section{
    padding-bottom: 3rem;
}
.footer-section img{
    margin-bottom: 3rem;
}

.footer-networks{
    text-align: center;
}

.credits{
    position: relative;
    bottom: 0;
    text-align: center;
    padding-top: 4rem;
}

@media screen and (max-width: 460px){
    .footer-container{
        justify-items: start;
    }
}

@media screen and (min-width: 860px) {
    .footer-container{
        grid-template-rows: 9rem auto;
    }
    .footer-container p{
        padding-bottom: 2rem;
        padding-top: 0rem;
    }
    .footer-section{
        padding-bottom: 0;
    }
    .footer-section img{
        padding-bottom: 0rem;
        margin-bottom: 0;
    }
    .section-logo{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .section-one{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .section-two{
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
    .section-three{
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
    .footer-networks{
        grid-column: 4 / 5;
        grid-row: 2 / 3;
    }
}

@media screen and (min-width:660px) {
    .third-section{
        justify-content: space-evenly;
        text-align: start;
        padding-left: 8rem;
        padding-right: 8rem;
        padding-top: 10rem;
        padding-bottom: 10rem;
    }
    .third-section-description h2{
        padding-top: 0;
    }
    .third-section-description p{ 
        
    }
    .third-section-form{
        margin-bottom: 0;
        padding-bottom: 0;
        align-self: center;
    }
    .second-form{
        width: 100%;
    }

    /*  */
    .second-section{
        /* text-align: start; */
        /* justify-content: space-evenly; */
        background-image: url("./img/bg-curve-desktop.svg");
        background-size: cover;
        background-position: center;
        background-repeat: repeat;
        padding-right: 5rem;
        padding-left: 5rem;
    }
    
}

@media screen and (min-width: 829px) {
    .second-section-description p{
        margin: 0;
    }
    .second-section-one{
        order: 2;
    }
    .comment-ceo{
        margin: 0;
    }
    .see-more-text{
        justify-content: start;
    }
    .second-section-title{
        padding-bottom: 3rem;
    }
    .second-section-img{
        padding-top: 7rem;
    }
    .comment-ceo-description .comillas {
    padding-left: 1rem;
    }
    .comment-ceo-description p:nth-child(2) {
        padding-top: 2rem;
        padding-left: 1.5rem;
    }
    .first-section-description h1{
        text-align: start;
        width: 40rem;
    }
    .section-description-text{
        justify-content: start;
    }
    .section-description-text p{
        text-align: start;
    }
    .first-container{
        text-align: start;
    }
    .first-section-img{
        order: 2;
    }
}